<h2>[ngClass]</h2>

<p [class.cor-fundo]="true">usando class binding, [class.cor-fundo]="true"</p>

<p [class.cor-fundo]="valorClassBinding">usando class binding, [class.cor-fundo]="valorClassBinding"</p>
<button (click)="mudarClassBinding()">Adicionar CSS</button>

<p [ngClass]="{'cor-fundo': true}">usando ngClass declarando a classe CSS no template</p>

<p [class.cor-fundo]="valorClassBinding" [class.cor-letra]="valorClassBinding" [class.estilo-letra]="valorClassBinding" [class.borda-paragrafo]="valorClassBinding">usando class binding com várias classes CSS</p>


<p [ngClass]="{
  'cor-fundo': valorClassBinding,
  'cor-letra': valorClassBinding,
  'estilo-letra': valorClassBinding,
  'borda-paragrafo': valorClassBinding
}">usando ngClass com várias classes CSS</p>

<p [ngClass]="classes()">usando ngClass com método na classe do componente</p>