<h1>
    {{title}}
</h1>

<!-- <img [src]="foto">

<button (click)="enviarMsg()">Enviar Alerta</button> -->

<!-- <app-lista-pessoa></app-lista-pessoa> -->

<!-- <app-interpolation-binding></app-interpolation-binding> -->

<!-- <app-property-binding></app-property-binding> -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-ng-if></app-ng-if> -->

<!-- <app-ng-switch-case></app-ng-switch-case> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-ng-class></app-ng-class> -->

<!-- <app-ng-style></app-ng-style> -->

<!-- <app-ng-content>
    <div class="titulo">
        meu título passado
    </div>

    <div class="corpo">
        meu conteúdo com select
    </div>

    <div class="corpo">
        segundo conteúdo passado
    </div>
</app-ng-content> -->

<!-- <app-event-binding></app-event-binding> -->

<!-- <app-input-output [menu]="desenvolvimento" (nomeClidado)="valorPassado($event)"></app-input-output>
<p>você clicou em: {{valor}}</p> -->

<!-- <app-di></app-di> -->

<!-- <app-formulario></app-formulario> -->

<!-- <app-angular4></app-angular4> -->